<div id="print-section"> 
  Your html stuff that you want to print
</div>
 
<div style="" id="print-section2"> 
    Your html stuff that you want to print
  <table style="margin-left:200px;border:1px solid black">
    <tr>
      <th>head</th>
      <td>data</td>
  </tr>
  </table>
  <table style="margin-left:400px;border:1px solid black">
      <tr>
        <th>head2</th>
        <td>data</td>
    </tr>
    </table>
</div>
<button printSectionId="print-section2" [useExistingCss]="true" ngxPrint>print</button> 